/BackBtnTestLogin$1.class
/BackBtnTestLogin.class
/ConnectorTest.class
/HomeAppTest.class
/LogInBtnActionListenerTest$1.class
/LogInBtnActionListenerTest.class
/MajorTest.class
/MinorTest.class
/StudentTest.class
/TestIsRegistered.class
/checkEmailTest.class
/checkEmailTestLogin.class
/registerBtnTest$1.class
/registerBtnTest$2.class
/registerBtnTest$3.class
/registerBtnTest.class
/signUpTest.class
/testIsregisteredLogin.class
